<!DOCTYPE html>
<html>
  <head>
    <title>Glasswares</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag 'navigation' %>
  </head>

  <body>
    <div>
      <%= render :partial => 'shared/navigation', locals: { selected: :product } %>
    </div>
    <div class="content" id="content">
      <%= yield %>
    </div>
  </body>
</html>


